.cesium-viewer-toolbar{
    top:5px;
    left: 5px;
}
.cesium-baseLayerPicker-dropDown, .cesium-baseLayerPicker-dropDown-visible{
    left: 0px;
}
.cesium-navigation-help, .cesium-navigation-help-visible{
    right: -60px;
}